alembic==1.20.0
androguard==4.1.4
apkInspector==1.3.7
archspec==0.2.6
asn1crypto==1.5.1
astc-encoder-py==0.1.12
asttokens==3.0.2
attrs==26.1.0
brotli==1.2.0
cffi==2.1.1
click==8.5.0
colorama==0.4.6
cryptography==50.0.1
dataset==2.0.0
etcpak==0.9.15
executing==2.2.1
fmod_toolkit==0.1.3
fsspec==2026.9.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
loguru==0.7.3
lxml==6.1.3
lz4==4.4.5
Mako==1.4.3
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mutf8==1.1.0
networkx==3.7
parso==0.8.7
pillow==12.3.0
prompt_toolkit==3.0.53
psutil==7.2.2
pure_eval==0.2.4
pycparser==3.0
pydot==4.0.1
pyelftools==0.33
pyfmodex==0.7.2
Pygments==2.21.0
pyparsing==3.3.3
PyYAML==6.0.3
SQLAlchemy==2.1.1
stack-data==0.6.3
texture2ddecoder==1.0.6
tpk_ar==0.2.4
traitlets==5.16.1
typing_extensions==4.16.0
UnityPy==1.25.3
wcwidth==0.9.1
win32_setctime==1.2.0
zstandard==0.25.0
